/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
.center{
    text-align: center;
}
table{
    width: 100%
}
.mat-mdc-form-field {
  margin-top: 20px !important;
}

@media screen and (max-width: 768px) {
    .mat-toolbar-row, .mat-toolbar-single-row {
      justify-content: flex-end;
    };
    .mat-mdc-form-field-infix {
      width: 113px !important;
    };
    #title {
      margin-right: 31px !important;
  }
  }
